.booking-page2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.booking-page2-booking-page2 {
  width: 100%;
  height: 1524px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.booking-page2-rectangle22 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 102px;
  position: absolute;
}
.booking-page2-text {
  top: 19px;
  left: 600px;
  color: rgba(52, 11, 11, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Bree Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-img70862 {
  top: 120px;
  left: 25px;
  width: 100%;
  height: 300px;
  position: absolute;
}
.booking-page2-text02 {
  top: 475px;
  left: 554px;
  color: rgba(18, 54, 108, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Bowlby One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-text04 {
  top: 596px;
  left: 192px;
  color: rgba(183, 70, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Bona Nova;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-text06 {
  top: 650px;
  left: 907px;
  color: rgba(183, 70, 104, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Bona Nova;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-text08 {
  top: 521px;
  left: 431px;
  color: rgba(122, 38, 143, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Blinker;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}





  

.booking-page2-text16 {
  top: 756px;
  left: 797px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.booking-page2-line3 {
  top: 550px;
  left: 463px;
  width: 424px;
  height: 1px;
  position: absolute;
}
.booking-page2-rectangle222 {
  top: 1238px;
  left: 0px;
  width: 100%;
  height: 286px;
  position: absolute;
}
.booking-page2-text19 {
  top: 1294px;
  left: 37px;
  color: rgba(18, 54, 108, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Imbue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-ellipse4 {
  top: 1356px;
  left: 37px;
  width: 48px;
  height: 50px;
  position: absolute;
}
.booking-page2-ellipse41 {
  top: 1356px;
  left: 98px;
  width: 48px;
  height: 50px;
  position: absolute;
}
.booking-page2-ellipse42 {
  top: 1356px;
  left: 159px;
  width: 48px;
  height: 50px;
  position: absolute;
}
.booking-page2-text21 {
  top: 1294px;
  left: 740px;
  color: rgba(18, 54, 108, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Hanuman;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-text23 {
  top: 1342px;
  left: 500px;
  color: rgba(122, 38, 143, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Gupter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-rectangle29 {
  top: 635px;
  left: 191px;
  width: 222px;
  height: 399px;
  position: absolute;
}
.booking-page2-text30 {
  top: 756px;
  left: 427px;
  color: rgba(18, 54, 108, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Bona Nova;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-rectangle291 {
  top: 1494px;
  left: 0px;
  width: 100%;
  height: 30px;
  position: absolute;
}
.booking-page2-text37 {
  top: 1494px;
  left: 450px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Fira Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.booking-page2-text38 {
  color: rgba(255, 255, 255, 1);
}
.booking-page2-text39 {
  color: rgba(131, 181, 255, 1);
}
.footer {
  background: rgba(245, 178, 178, 0.35);
  margin-top: 100px;
  padding-top: 50px;
  position: relative;
  padding-bottom: 50px;
}

.footer h2 {
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 500;
  color: #13376C;
  text-transform: uppercase;
}

.footer h5 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  color: #13376C;
}

.footer p {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 16px;
  color: #b0b0b0;
}

.footer-small {
  background-color: #B84668;
  text-align: center;
}

.footer-small p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
}

.footer-small a {
  font-weight: 500;
  font-size: 16px;
  color: #84B5FF;
  text-decoration: none;
}
.text {
  position: absolute;
width: 424px;
height: 0px;
left: 663px;
top: 600px;
}
.text2 {
  position: absolute;
width: 262px;
height: 28px;
left: 891px;
top: 711px;

background: rgba(19, 55, 108, 0.81);
border-radius: 5px;
}
.boxlist{
  position: absolute;
width: 262px;
height: 28px;
left: 891px;
top: 780px;

background: rgba(19, 55, 108, 0.81);
border-radius: 5px;
}
.btn-testimonial {
  background: #7B278F;
  transition: all 0,3s ease;
  top: 1091px;
  left: 532px;
  width: 262px;
  height: 28px;
  position: absolute;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.btn-testimonial:hover {
  box-shadow: 0px 8px 15px rgb(0, 0, 0,0.25);
  border-radius: 4px;
  transform: scale(1.1);
}
.btn-testimonial1 {
  background: #FFFFFF;
border: 1px solid #13376C;
  transition: all 0,3s ease;
  top: 1151px;
  left: 532px;
  width: 262px;
  height: 28px;
  position: absolute;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 170%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.btn-testimonial1:hover {
  box-shadow: 0px 8px 15px rgb(0, 0, 0,0.25);
  border-radius: 4px;
  transform: scale(1.1);
  background-color:#000000;
}
